<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="JobsConfigFilePath" value="D:\GitHub\CPI\src\CPI.ScheduleJobs\bin\Debug\CPI.ScheduleJobs.config"/>
    <add key="JobsExecutorFilePath" value="D:\GitHub\CPI\src\CPI.ScheduleJobs\bin\Debug\CPI.ScheduleJobs.exe"/>
  </appSettings>
</configuration>
