<?xml version="1.0" encoding="utf-8"?>
<jobs>
  <!--定时拉取协议支付结果-->
  <job name="Bill99AgreepayPayResultPullJob" desc="定时拉取快钱协议支付结果" type="CPI.ScheduleJobs.AgreePay.Bill99AgreepayPayResultPullJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
  <!--定时拉取提现结果-->
  <job name="Bill99PullWithdrawResultJob" desc="定时拉取快钱提现结果" type="CPI.ScheduleJobs.Settle.Bill99PullWithdrawResultJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
  <!--定时拉取易宝协议支付结果-->
  <job name="YeePayAgreepayPayResultPullJob" desc="定时拉取易宝协议支付结果" type="CPI.ScheduleJobs.AgreePay.YeePayAgreepayPayResultPullJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
  <!--定时拉取易宝退款结果-->
  <job name="YeePayAgreepayRefundResultPullJob" desc="定时拉取易宝退款结果" type="CPI.ScheduleJobs.AgreePay.YeePayAgreepayRefundResultPullJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
</jobs>