<?xml version="1.0" encoding="utf-8"?>
<jobs>
  <!--定时拉取协议支付结果-->
  <job name="Bill99AgreepayPayResultPullJob" desc="定时拉取协议支付结果" type="CPI.ScheduleJobs.AgreePay.Bill99AgreepayPayResultPullJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0/10 * * * * ? </cron>
  </job>
  <!--定时发起分账-->
  <job name="Bill99FireAllotAmountJob" desc="定时发起分账" type="CPI.ScheduleJobs.Settle.Bill99FireAllotAmountJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0 0/1 * * * ? </cron>
  </job>
  <!--定时拉取分账结果-->
  <job name="Bill99PullAllotAmountResultJob" desc="定时发起分账" type="CPI.ScheduleJobs.Settle.Bill99PullAllotAmountResultJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0 0/5 0/2 * * ? *</cron>
  </job>
  <!--定时发起提现-->
  <job name="Bill99FireWithdrawJob" desc="定时发起提现" type="CPI.ScheduleJobs.Settle.Bill99FireWithdrawJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0 0/5 1/2 * * ? *</cron>
  </job>
  <!--定时拉取提现结果-->
  <job name="Bill99PullWithdrawResultJob" desc="定时拉取提现结果" type="CPI.ScheduleJobs.Settle.Bill99PullWithdrawResultJob,CPI.ScheduleJobs">
    <!--switch表示开关，on为开，off为关，默认为关-->
    <switch>off</switch>
    <!--cron表达式-->
    <cron>0 0/10 1/2 * * ? *</cron>
  </job>
</jobs>